<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent cars</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css">
    <style>
        .car-sec .main-sec {
            column-gap: 1cm;
        }
.check{
    /* display: flex; */
    /* justify-content: center; */
padding: 0 10% 0 10% ;
}
        .car-sec .read {
            margin: 205px;
            margin-bottom: 0px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            column-gap: 10px;
            flex-wrap: wrap;
            row-gap: 10px;
            box-shadow: rgba(149, 157, 165, 0.473) 0px 8px 24px;
        }

        .booking-form {
            padding-top: 20px;
            width: 600px;
            display: flex;
            flex-direction: column;
            height: 100%;
            border-radius: 10px;
            /* border: 1px solid darkgray; */
            box-shadow: rgba(149, 157, 165, 0.473) 0px 8px 24px;
        }

        .fs {
            overflow: hidden;
            width: 450px;
            padding: 20px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            border-radius: 10px;

        }
        .main{display: flex;}
        .sd {
            overflow: hidden;
            width: 450px;
            padding: 20px;
            padding-top: 46px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            border-radius: 10px;

        }
       .fi{
            width: 300px;
        }
        .se{
            width: 300px;
        }
        h1 {
            font-size: 27px;
            color: #0043ff8c;
        }

        h2 {
            color: #0043ff8c;
            text-align: center;
            font-size: 40px;
            margin-bottom:10px ;
        }

        h3 {
            padding-top: 17px;
            padding-bottom: 7px;
        }

        .pick input {
            width: 90%;
            padding: 4px 15px;
            border-radius: 10px;
            border: solid 1px;
            background-color: #3a6fff29;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.749);
        }

        .pick {
            padding: 15px 30px;
            display: flex;
            flex-direction: column;
            row-gap: 7px;
        }

        .pick p button {
            padding: 7px 27px;
            border-radius: 10px;
            background-color: #0f4fff8c;
            font-size: 18px;
            font-weight: 400;
            color: whitesmoke;
        }

        .pick p {
            text-align: center;
        }

        @media (max-width:440px) {
            .car-sec .read {
                margin: 0px;
            }
            .main{
                display: inline;
            }
        }

        .checkbox{
            font-weight: 600;
        }
    </style>
</head>

<body>
    <section class="car-sec">
        <div class="txt">
            <p class="txt1"> Book Your <span>
                    <%= car.name %>
                </span></p>
            <p class="txt2">Pick Up Date:<span>
                    <%= car.pdate %>
                </span> Return Date: <span>
                    <%= car.rdate %>
                </span></p>
        </div>
        <div class="main-sec">
            <div class="box">
                <img class="iii" src="<%= car.img %>" alt="">
                <div class="details">

                    <p class="car-name">
                        <%= car.name %>
                    </p>

                    <div class="review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <p>( <%= car.reviews %> Reviews )</p>
                    </div>

                    <div class="feature">
                        <p><i class="fa-solid fa-chair"></i>
                            <%= car.seat %> Seat
                        </p>
                        <p><i class="fa-solid fa-gas-pump"></i>
                            <%= car.milage %>
                        </p>
                        <p><i class="fa-solid fa-car-battery"></i>
                            <%= car.battery %>
                        </p>
                        <p><i class="fa-solid fa-car-side"></i>
                            <%= car.ac %>
                        </p>
                    </div>

                    <div class="price">
                        <p>₹<%= car.price %> / Day</p>
                    </div>
                </div>
            </div>
            <div class="booking-form">
                <h2>Book Now</h2>
                <form action="/<%= car._id %>" method="POST">
                    <div class="main">
                    <div class="fi">
                    <div class="pick">
                        <label for="name">Your Name:</label>
                        <input type="text" id="name" name="name" placeholder="Full Name" required>
                    </div>
                    <div class="pick">
                        <label for="email">Your Email:</label>
                        <input type="email" id="email" name="email" placeholder="Email Address" required >
                    </div>
                    <div class="pick">
                        <label for="Phone">Your Number:</label>
                        <input type="tel" id="phone" name="phone" placeholder="Phone number" required >
                    </div>
                    <div class="pick">
                        <label for="Age">Your Birth date:</label>
                        <input type="date" id="bdate" name="bdate" required >
                    </div>
                    </div>
                    <div class="se">
                    <div class="pick">
                        <label for="pan">Your Pan Number:</label>
                        <input type="text" id="pan" name="pan" placeholder="XZYEZ039V" required pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}">
                    </div>
                    <div class="pick">
                        <label for="adhar">Your Adhar Number:</label>
                        <input type="text" id="adhar" name="adhar" required pattern="[0-9]{12}" placeholder="Enter 12 digits Number" >
                    </div>
                    <div class="pick">
                        <label for="Address">Your Address:</label>
                        <input type="text" id="Address" name="Address" placeholder="Address" required >
                    </div>
                    <div class="pick">
                        <label for="message">Additional Message:</label>
                        <input id="message" name="message" placeholder="suggestions">
                    </div>
                    </div>
                </div>
                <div class="check">
                    <label class="checkbox">
                        <input type="checkbox" required> I Acknowledge and accept the terms and conditions
                    </label>
                </div>
                    <div class="pick">
                        <p><button>₹<span id="totalPrice"></span> Pay Now</button></p>
                    </div>
                </form>
            </div>
        </div>

        <section class="read">

            <div class="fs">
                <h1>Read before you book!</h1>

                <h3>Booking and Rental Period</h3>
                <p class="">The rental period begins and ends as per the agreed-upon dates and times. Any extension must be communicated and approved in advance.</p>

                <h3>Driver Requirements:</h3>
                <p>All drivers must possess a valid driver's license and meet the minimum age requirement set forth by local laws. Additional drivers must be declared and approved prior to rental.</p>

                <h3>Vehicle Use:</h3>
                <p>he rented vehicle is to be used only for lawful purposes and within the terms of the rental agreement. It should not be driven off-road, used for racing, towing, or transporting hazardous materials.</p>

                <h3>Insurance and Liability:</h3>
                <p>Renters are responsible for any damages incurred during the rental period, excluding normal wear and tear. Optional insurance coverage may be available, and renters are encouraged to review their insurance options before renting.</p>

                <h3>Return of Vehicle:</h3>
                <p>he vehicle must be returned in the same condition as rented, with a full tank of fuel, to the designated location at the agreed-upon time. Late returns may incur additional fees.</p>

            </div>
            
            <div class="sd">
                <h3>Vehicle Registration</h3>
                <p>All vehicles in our inventory are registered and compliant with local laws and regulations.</p>

                <h3>Document Verification</h3>
                <p>Prior to rental, all necessary documents such as vehicle registration, insurance, and permits are thoroughly verified to ensure legality and compliance.</p>

                <h3>Vehicle Ownership</h3>
                <p>All vehicles in our inventory are company-owned, ensuring legitimacy and reliability.</p>

                <h3>Regular Inspection</h3>
                <p>TOur vehicles undergo regular inspections by certified mechanics to ensure they meet safety standards and are in optimal condition for rental.
                </p><br><br>
                <p>"If any issues arise due to faults on our end, we take full responsibility and will promptly address and rectify them to ensure your complete satisfaction and peace of mind."</p>
            </div>
            <!-- <div>
                <p class="checkbox"><input type="checkbox" required> I acknowledge and accept the terms and conditions outlined above.</p>
            </div> -->
            
        </section>
        
    </section>
    <script>
        var totalPrice =  <%=car.price%> * <%=car.day%>;
        document.getElementById("totalPrice").textContent = totalPrice.toFixed(2);
     </script>   
</body>

</html>